# Machine Learning Zoomcamp

## Homework #1

In [3]:
import numpy as np
import pandas as pd

In [4]:
#Version of NumPy

In [5]:
np.__version__

'1.21.5'

In [6]:
url = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv'

In [10]:
df = pd.read_csv(url)

In [11]:
#Question 2: Number of records in the dataset

In [12]:
df.shape[0]

11914

In [13]:
#Question 3: The most popular car manufacturers

In [14]:
groupby_df = (df.groupby(["Make"])["Make"].agg(['count']).sort_values(by='count', ascending=False).reset_index())

In [17]:
groupby_df[:5]

         Make  count
0   Chevrolet   1123
1        Ford    881
2  Volkswagen    809
3      Toyota    746
4       Dodge    626

In [ ]:
#Question 4: Number of unique Audi car models

In [21]:
df[df["Make"] == "Audi"]["Model"].nunique()

34

In [ ]:
#Question 5: Number of columns with missing values

In [22]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [23]:
#Question 6: Does the median value change after filling missing values?

In [24]:
df.median()

/tmp/ipykernel_4690/530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Year                 2015.0
Engine HP             227.0
Engine Cylinders        6.0
Number of Doors         4.0
highway MPG            26.0
city mpg               18.0
Popularity           1385.0
MSRP                29995.0
dtype: float64

In [27]:
df['Engine Fuel Type'] = df['Engine Fuel Type'].fillna(df['Engine Fuel Type'].mode()[0])

In [28]:
df['Engine HP'] = df['Engine HP'].fillna(df['Engine HP'].mode()[0])

In [37]:
df['Engine Cylinders'] = df['Engine Cylinders'].fillna(df['Engine Cylinders'].mode()[0])

In [38]:
df['Number of Doors'] = df['Number of Doors'].fillna(df['Number of Doors'].mode()[0])

In [39]:
df['Market Category'] = df['Market Category'].fillna(df['Market Category'].mode()[0])

In [41]:
df.isnull().sum()

Make                 0
Model                0
Year                 0
Engine Fuel Type     0
Engine HP            0
Engine Cylinders     0
Transmission Type    0
Driven_Wheels        0
Number of Doors      0
Market Category      0
Vehicle Size         0
Vehicle Style        0
highway MPG          0
city mpg             0
Popularity           0
MSRP                 0
dtype: int64

In [42]:
df.median()

/tmp/ipykernel_4690/530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Year                 2015.0
Engine HP             225.0
Engine Cylinders        6.0
Number of Doors         4.0
highway MPG            26.0
city mpg               18.0
Popularity           1385.0
MSRP                29995.0
dtype: float64